{{- if ne (len .Values.securityGroupIds) 0 }}
apiVersion: vpcresources.k8s.aws/v1beta1
kind: SecurityGroupPolicy
metadata:
  name: proteus-aws-operator
  namespace: ack-system
spec:
  serviceAccountSelector:
    matchLabels:
      controller: proteus-aws-operator
  securityGroups:
    groupIds:
      {{- range $securityGroupId := .Values.securityGroupIds }}
      - {{ $securityGroupId }}
      {{- end }}
{{- end }}
