apiVersion: v1
kind: Service
metadata:
    labels:
        control-plane: controller-manager
    name: proteus-aws-operator-controller-manager-metrics-service
    namespace: ack-system
spec:
    ports:
        - name: https
          port: 8443
          targetPort: https
    selector:
        control-plane: controller-manager
